.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* sign in page */
.panel-landing {
  text-align: center;
  position: absolute;
  background-color: rgb(8, 5, 5);
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  color: #f3f3f3ff;
}

.panel-landing > h1 {
  text-transform: uppercase;
  font-size: 8em;
}

.panel-landing > h2 {
  margin-top: 5em;
  text-transform: uppercase;
}
.landing-square {
  width: 65vh;
  height: 65vh;
  margin: -6em auto;
  border: solid 1px;
  border-radius: 20px;
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
}
.square-container {
  width: 100%;
  height: 30vh;
  background-color: rgb(8, 5, 5);
  bottom: 0;
  position: absolute;
}
.landing-square-text {
  align-self: center;
  margin-top: 5em;
  position: relative;
  z-index: 2;
}


/* brown #925C52
brown/dark #582921
black #080808
grey #
blue/grey #394954 */

/* my profile page */
.container-myprofile {
  background-color: #394954;
  margin-top: -1.4em;
}
.myprofile-bio {
  padding-top: 2em;
  padding-bottom: 1em;
}

.bio-left {
  align-content: center;
}
.bio-left > img {
  max-width: 10em;
  max-height: 10em;
  border-radius: 10px;
}

.bio-right {
  align-content: center;
  color: #f3f3f3ff;
}

.myprofile-options {
  background-color: #080808a8;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}