.App {
  text-align: center;
  
}

.logo-nav {
  border-radius: 20%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* sign in page */
.panel-landing {
  text-align: center;
  position: absolute;
  background-color: rgb(8, 5, 5);
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  color: #f3f3f3ff;
}

.panel-landing > h1 {
  text-transform: uppercase;
  font-size: 8em;
}

.panel-landing > h2 {
  margin-top: 5em;
  text-transform: uppercase;
}
.landing-square {
  width: 65vh;
  height: 65vh;
  margin: -6em auto;
  border: solid 1px;
  border-radius: 20px;
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
}
.square-container {
  width: 100%;
  height: 30vh;
  background-color: rgb(8, 5, 5);
  bottom: 0;
  position: absolute;
}
.landing-square-text {
  align-self: center;
  margin-top: 5em;
  position: relative;
  z-index: 2;
}

/* navbar */
.nav-img {
  height: 2em;
  width: 2em;
  margin-top: 0.1em;
  border-radius: 50%
}
.nav-home-link {
  color: black !important;
  text-decoration: none !important;
}


/* brown #925C52
brown/dark #582921
black #080808
grey #
blue/grey #394954 */

/* my profile page */
.container-myprofile {
  background-color: #394954;
  margin-top: 2em;
  overflow: hidden;
}

.container-desc-prof {
  padding-top: 2em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.settings {
  text-align: left;
  padding: 1em;
}
.myprofile-bio {
  position: absolute;
  padding-top: 10em;
  margin-bottom: -2em;
  height: 33vh;
  z-index: 2;
  width: auto;
  left: 0;
  right: 0;
}
.bio-left {
  align-content: center;
}
.bio-left > img {
  width: 120px;
  height: 120px;
  border: solid 0.7px #f9f9f998;
  border-radius: 50%;
}

.bio-right {
  text-align: left;
  color: #f3f3f3ff;
}

.myprofile-options {
  background-color: #f9f9f9;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  min-height: 16vh;
  z-index: 1;
  padding-top: 1em;
}
.my-options {
  text-align: left;
}
hr {
  color: black;
  width: 100%;
}

.new-status {
  background-color: #f9f9f9;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.my-post {
  height: auto;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.my-post > hr {
  margin: 0;
  padding: 0;
}

.profile-posts {
  min-height: 80vh;
  background-color: #f9f9f9;
  padding-top: 1em;
}
.post-img {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin-top: 1em;
}
.poster-info {
  margin-top: 1.5em;
}
.post-date {
  margin-top: 2em;
  font-size: 15px;
}
.post-pic-container {
  position: relative;
  width: 100%;
  margin-top: 0;
}
.post-pic-container > hr {
  margin: 0;
  padding: 0;
}
.poster-info {
  margin-bottom: 0.5em;
}
.post-pic {
  max-width: 100%;
  max-height: 100%;
}
.delete-img {
  position: absolute;
  top: 0;
  right: 0;
}

.input-status {
  height: 15em;
  overflow: scroll;
  background: #ffffff;
  resize: none;
  border: 0 none;
}
.input-btn-wrapper {
  margin-top: 0.5em;
}
.bio-icons {
  width: 2em;
  height: 2em;
}
.bio-icons:hover {
  background-color: #dadadaca;
  border-radius: 50%;
  cursor: pointer;
}
.my-friend:hover {
  background-color: #aaaaaaca;
  cursor: pointer;
}
/* profile page  */
.add-button {
  text-align: center;
  color: #868e96;
}
.add-button:hover {
  background-color: #dadadaca;
  border-radius: 10px;
}

/* no result  */
.no-res-container {
  height: 100vh;
  text-align: center;
}
.no-res-container > p {
  padding-top: 20%;
}

/* loader  */
.loader {
  position: absolute;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #868e96;
  border-radius: 50%;
  top: 50vh;
  left: 45%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 2;
}

.feed-container {
  background-color: #f3f3f3;
  margin-top: 3.5em;
  min-height: 95vh;
}

/* Post */
.post-link {
  text-decoration: none!important;
  color: #000!important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 770px) {
  .myprofile-bio {
    padding-top: 0;
    padding-bottom: 0;
    background-color: f9f9f9;
  }
  .bio-left {
    align-content: center;
  }
  .bio-left > img {
    width: 120px;
    height: 120px;
    border: solid 0.7px #f9f9f981;
    border-radius: 50%; 
  }

  .bio-right {
    text-align: center;
    color: #f3f3f3ff;
  }
  hr {
    width: 80%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}