.App {
  text-align: center;
  font-family: 'Heebo', sans-serif;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.logo-nav {
  border-radius: 20%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* sign in page */
.panel-landing {
  text-align: center;
  max-width: 100vw;
  overflow: hidden;
  width: 100%;
  color: #f3f3f3ff;
}
.landing-container {
  background-image: radial-gradient(circle, #aaaaaaca, #aaaaaaca 1px, #f3f3f3ff 1px, #f3f3f3ff);
  background-size: 40px 40px;
  background-attachment: fixed;
  min-height: 80vh;
  height: auto;
  margin-bottom: -1em;
}
.landing-container > h1 {
  margin-top: 1.2em;
  position: relative;
  z-index: 1;
  color: black;
  max-width: 100vw;
}
.landing-container > p {
  z-index: 1;
  position: relative;
  color: rgb(66, 65, 65);
  max-width: 100vw;
}

.landing-logo-container{
}

.landing-logo {
  margin-top: 5em;
  width: 20em;
  height: 20em;
  border-radius: 20%;
  border: solid 2px #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.landing-square-container{
  position: relative;
  height: 25vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(8, 5, 5);
  z-index: 1;
}
.square-container {
  width: 100%;
  position: absolute;
}

.landing-square {
  width: 65vh;
  height: 65vh;
  margin: -6em auto;
  border: solid 1px;
  border-radius: 20px;
  transform: rotate(45deg);
  position: relative;
  /* z-index: 1; */
}
.signin-button {
  color: #fff;
  background-color: rgb(8, 5, 5);
  border: solid 2px #fff;
}
.signin-button:hover {
  color: rgb(8, 5, 5);
  background-color: #fff;
  border: solid 2px rgb(8, 5, 5);
}

.landing-square-text {
  align-self: center;
  margin-top: 5em;
  position: relative;
  z-index: 2;
}
/* tese */
.card-container-back {
  display: block;
  height: auto;
  background-color:rgb(8, 5, 5);
  z-index: 1;
  padding-bottom: 3em;
}
.card-container {
  position: relative;
  background-color: #f3f3f3ff;
  width: 100%;
  border-radius: 10px;
  margin: auto;
}
.flip-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 17.2em;
  border-radius: 25px;
  perspective: 1000px; 
  margin: 2em auto;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 95%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
}

.flip-card-front {
  color: black;
  
}

.flip-card-front > img {
  height: 80%;
  width: 80%;
}
.flip-card-front > span {
  display: block;
}
.flip-card-back {
  background-color: black;
  color: white;
  height: 17.2em;
  transform: rotateY(180deg);
  margin: 0 auto;
}
.flip-card-back > hr {
  padding: 0;
  margin: 0.5em auto;
  background-color: white;
  width: 90%;
}
.flip-card-back > img {
  margin-top: 0.5em;
  border-radius: 50%;
  width: 2em;
  background-color: white;
}
.flip-card-back > p {
  font-size: 1.2em;
  padding: 1em;
  padding-top: 0;
}
/* test */

/* navbar */
.navbar-con {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.nav-img {
  height: 2em;
  width: 2em;
  margin-top: 0.1em;
  border-radius: 50%
}
.nav-home-link {
  color: black !important;
  text-decoration: none !important;
}


/* brown #925C52
brown/dark #582921
black #080808
grey #
blue/grey #394954 */

/* my profile page */
.container-myprofile {
  background-color: #394954;
  margin-top: 2em;
  overflow: hidden;
}

.container-desc-prof {
  padding-top: 2em;
  min-height: 50vh;
  height: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.background-image {
  margin: 0;
  margin-top: -1em;
  padding: 0;
  height: 33vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.settings {
  text-align: left;
  padding: 1em;
}
.myprofile-bio-wrap {
  position: absolute;
  min-height: 33vh;
  height: auto;
  bottom: -1em;
  z-index: 2;
  width: auto;
  left: 0;
  right: 0;
}

.myprofile-bio {
  
}

.heading-name {
  min-width: 100%;
  font-size: 1.5em;
  font-family: 'Heebo', sans-serif;
  height: 5em;
}

.display-username {
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.bio-left {
  max-height: 20vh;
  max-width: 11em;
  min-height: 20vh;
  min-width: 11em;
  border: solid 4px #f9f9f9f8;
  border-radius: 10%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

}

.avatar {
  max-width: 100%;
  max-height: 100%;
  min-height: 20vh;
  min-width: 11em;
}

.bio-right {
  text-align: left;
  color: #f3f3f3ff;
}

.myprofile-options {
  background-color: #f9f9f9;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  min-height: 16vh;
  z-index: 1;
  padding-top: 1em;

}
.my-options {
  text-align: left;
  z-index: 3;
}
hr {
  color: black;
  width: 100%;
}

.new-status {
  background-color: #f9f9f9;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.my-post {
  height: auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.308), 0 6px 20px 0 rgba(0, 0, 0, 0.308);
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.527)
}
.my-post > hr {
  margin: 0;
  padding: 0;
}
.my-post > pre {
  text-align: left;
  padding: 1em;
  margin: 0;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
  font-family: 'Heebo', sans-serif;
  font-size: 1em;
}
.my-post > pre > strong {
  font-style: oblique;
}

.poster-info {
  padding-top: 1.5em;
}
.poster-info-con {
  text-align: left;
  margin: 0.5em;
}
.show-more:hover {
  cursor: pointer;
}

.profile-posts {
  min-height: 100%;
  background-color: #f9f9f9;
  padding-top: 1em;
  padding-bottom: 2em;
}
.post-img {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin-top: 1em;
}
.post-date {
  font-size: 15px;
}
.post-pic-container {
  position: relative;
  width: 100%;
  margin-top: 0;
}
.post-pic-container > hr {
  margin: 0;
  padding: 0;
}
.poster-info {
  margin-bottom: 0.5em;
}
.post-pic {
  max-width: 100%;
  max-height: 50vh;
}
.delete-img {
  position: absolute;
  top: 0;
  right: 0;
}

.input-status {
  height: 15em;
  overflow: scroll;
  background: #ffffff;
  resize: none;
  border: 0 none;
}
.input-btn-wrapper {
  margin-top: 0.5em;
}
.bio-icons {
  width: 2em;
  height: 2em;
}
.bio-icons:hover {
  background-color: #dadadaca;
  border-radius: 50%;
  cursor: pointer;
}
.my-friend:hover {
  background-color: #aaaaaaca;
  cursor: pointer;
}
/* profile page  */
.add-button {
  text-align: center;
  color: #868e96;
}
.add-button:hover {
  background-color: #dadadaca;
  border-radius: 10px;
}

/* no result  */
.no-res-container {
  height: 100vh;
  text-align: center;
}
.no-res-container > p {
  padding-top: 20%;
}

/* loader  */
.loader {
  position: absolute;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #868e96;
  border-radius: 50%;
  top: 50vh;
  left: 45%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 2;
}
.feed-loader {
  position: relative;
  margin: 1em auto;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #868e96;
  border-radius: 50%;
}

.feed-container {
  background-color: #f3f3f3;
  margin-top: 3.5em;
  min-height: 95vh;
}

/* Post */
.post-link {
  text-decoration: none!important;
  color: #000!important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 576px){
  .card-container {
      max-width: 98%;
  }
}
@media only screen and (max-width: 768px) {
  .flip-card {
    max-width: 18em;
  }
  .myprofile-bio-wrap {
    top: 4em;
    right: 0;
  }
  .container-desc-prof {
    height: auto;
  }
  .background-image {
    height: 70vh;
  }
  .bio-left {
    max-height: 28vh;
  }
  .myprofile-bio {
    width: auto;
    padding: 0.5em;
    display: inline-block;
    border-radius: 10%;
    background-color: rgba(7, 7, 7, 0.5);
    color:#f3f3f3ff;
  }
  .myprofile-options {
  z-index: 3;
}

  .bio-right {
    text-align: center;
    color: #f3f3f3ff;
  }
  hr {
    width: 80%;
  }
}

@media (min-width: 576px) {
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}